GridBackground {
    --grid-background-color: rgb(40, 40, 40);
    --line-color: rgba(193, 196, 192, 0.1);
    --thick-line-color: rgba(193, 196, 192, 0.1);
    --spacing: 15;
}

#simple-view {
    width: 100%;
    height: 100%;
}

.edge.LogicEdge {
    --edge-width: 6;
}

.edge.LogicEdge:hover {
    --edge-width: 8;
}
